.page-header {
  width: 260px;
  margin: 0 auto;
}
.main-nav--closed .main-nav__toggle {
  position: absolute;
  font-size: 0;
  border: none;
  width: 20px;
  height: 15px;
  background: transparent;
  background-image: url("../img/menu.png");
  background-repeat: no-repeat;
  cursor: pointer;
  right: 0;
  top: 10px;
  outline: none;
}
.main-nav--opened .main-nav__toggle {
  position: absolute;
  font-size: 0;
  border: none;
  width: 23px;
  height: 22px;
  background: transparent;
  background-image: url("../img/menu-close.png");
  background-repeat: no-repeat;
  cursor: pointer;
  right: 0;
  top: 35px;
  z-index: 20;
  outline: none;
}
.main-nav {
  position: relative;
  min-height: 45px;
  margin: 0;
  padding: 0;
}
.main-nav__list {
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list .site-list__text,
.main-nav__list .logo-list__item,
.main-nav__list .user-list__search-form,
.main-nav__list .backet-list__container {
  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.main-nav__list .logo-list__item {
  margin-top: 30px;
  margin-left: 80px;
  display: block;
  width: 86px;
  height: 35px;
  background-image: url("../img/mishka-logo-mobile.svg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main-nav__list .site-list__text,
.main-nav__list .user-list__search-form,
.main-nav__list .backet-list__container {
  display: block;
  padding: 30px 0;
  padding-left: 45px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
.main-nav__list .backet-list__container::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 18px;
  left: 0;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
}
.main-nav__list .user-list__search-button {
  border: none;
  background: transparent;
  padding: 0;
  position: relative;
}
.main-nav__list .user-list__search-button::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -45px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
}
.main-nav__list .site-list__text:hover,
.main-nav__list .logo-list__item:hover,
.main-nav__list .user-list__search-form:hover,
.main-nav__list .backet-list__container:hover {
  opacity: 0.6;
}
.main-nav__list .site-list__text:focus,
.main-nav__list .logo-list__item:focus,
.main-nav__list .user-list__search-form:focus,
.main-nav__list .backet-list__container:focus {
  opacity: 0.3;
}
@media (max-width: 669px) {
  .main-nav--closed .site-list__text {
    display: none;
  }
  .main-nav--closed .user-list__search-form {
    display: none;
  }
  .main-nav--closed .backet-list__container {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: white;
  }
  .main-nav--opened {
    margin-bottom: 48px;
  }
  .main-nav--opened .main-nav__wrapper .main-nav__list .logo-list__item {
    margin-bottom: 28px;
  }
  .main-nav--nojs .site-list__text {
    display: block;
  }
  .main-nav--nojs .user-list__search-form {
    display: block;
  }
  .main-nav--nojs .backet-list__container {
    display: block;
  }
}
@media (min-width: 670px) {
  .page-header {
    width: 670px;
    margin: 0 auto;
  }
  .page-header .site-list__text,
  .page-header .user-list__search-form,
  .page-header .backet-list__container {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
  }
  .page-header .user-list__search-form,
  .page-header .backet-list__container {
    font-size: 0;
  }
  .page-header .backet-list__container::before {
    top: 35px;
    left: 650px;
  }
  .page-header .backet-list__container::before:hover {
    opacity: 0.6;
  }
  .page-header .backet-list__container::before:focus,
  .page-header .backet-list__container::before:active {
    opacity: 0.3;
  }
  .page-header .user-list__search-button::before {
    top: -7px;
    left: 0;
    cursor: pointer;
  }
  .page-header .user-list__search-button::before:hover {
    opacity: 0.6;
  }
  .page-header .user-list__search-button::before:focus,
  .page-header .user-list__search-button::before:active {
    opacity: 0.3;
  }
  .page-header .main-nav__toggle {
    display: none;
  }
  .logo-list {
    width: 160px;
    text-align: center;
  }
  .main-nav__wrapper .logo-list .logo-list__item {
    margin: 20px 0;
    display: block;
    width: 113px;
    height: 46px;
    background-image: url("../img/mishka-logo-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-list {
    display: flex;
    width: 390px;
  }
  .user-list {
    width: 50px;
    order: 2;
    text-align: right;
  }
  .backet-list {
    width: 50px;
    order: 3;
    text-align: right;
  }
}
@media (min-width: 1050px) {
  .page-header {
    width: 1050px;
    margin: 0 auto;
  }
  .page-header .backet-list__container {
    font-size: 17px;
    margin-right: 0;
  }
  .page-header .backet-list__container::before {
    left: 930px;
    top: 48px;
  }
  .page-header .user-list__search-button::before {
    top: -8px;
    left: -53px;
  }
  .main-nav__wrapper .logo-list .logo-list__item {
    width: 149px;
    height: 72px;
    background-image: url("../img/mishka-logo-desktop.png");
  }
  .logo-list {
    width: 250px;
    order: 1;
    text-align: center;
  }
  .site-list {
    width: 490px;
  }
  .site-list .site-list__item {
    margin-right: 35px;
  }
  .user-list {
    width: 240px;
    order: 2;
    text-align: right;
  }
  .backet-list {
    width: 160px;
    order: 3;
    text-align: right;
  }
}
