.modal {
  position: fixed;
  display: none;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.modal-map {
  display: none;
  width: 994px;
  min-height: 593px;
  top: 20px;
  left: 50%;
  margin-left: -480px;
  z-index: 1000;
}
.modal__block {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 5000px;
  height: 5000px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 500;
}
.modal-close {
  position: absolute;
  content: "";
  top: 22px;
  left: 880px;
  width: 55px;
  height: 55px;
  border: none;
  font-size: 0;
  border-radius: 50%;
  background-color: #62d1ba;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  left: 13px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal-show {
  display: block;
  animation: bounce 1s;
}
.modal-error {
  animation: shake 1s;
}
